*.exe
*.o
*.obj
*_sm.*
*.dSYM
*.lock
*.back
*.bak
*~
*_flymake.mk
.DS_Store
target
examples/output
!examples/output/export-smc-file-here-to-test

/examples/C++/EX1/checkstring
/examples/C++/EX2/checkstring
/examples/C++/EX3/checkstring
/examples/C++/EX4/traffic
/examples/C++/EX5/sleeper
/examples/C++/EX6/client
/examples/C++/EX6/server
/examples/C/EX1/checkstring
/examples/C/EX2/checkstring
/examples/C/EX3/checkstring
/examples/C/EX4/traffic
