<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.github.buchio.Astah2Smc.Astah2Smc.actionSet">
         <menu
               id="Astah2Smc"
               label="%menu_group"
               path="tool/Astah2Smc">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="com.github.buchio.Astah2Smc.Action"
               tooltip="%menu_tooltip"
               menubarPath="tool/Astah2Smc/"
               id="Astah2Smc">
         </action>
     </actionSet>
   </extension>
</plugin>
